{% extends 'base.html.twig' %}

{% block title %}Hello WordlePageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a>restart</a>

    <br>

    word to guess:{{ data.word }}
    <br>
    nombreEssais:{{ nombreEssais }}
    <br>
    tailleMot:{{ tailleMot }}
    <br>
    {% set indice = 0 %}
    <table>
        {% for i in tableau_wordle %}
            <tr>
                {% for u in i %}
                    <td>
                        {% if exist == "yes" %}
                            <div>
                                {% if u[1] == "0" %}
                                    <div style="color: #000000">
                                        {{ u[0] }}
                                    </div>
                                {% elseif u[1] == "-1" %}
                                    <div style="color: #ffb700">
                                        {{ u[0] }}
                                    </div>
                                {% elseif u[1] == "1" %}
                                    <div style="color: #43A047">
                                        {{ u[0] }}
                                    </div>
                                {% endif %}
                            </div>
                        {% elseif (exist == "no") and (y2 == indice) %}
                            <div style="background-color: #D2054E">
                                {% if u[1] == "0" %}
                                    <div style="color: #000000">
                                        {{ u[0] }}
                                    </div>
                                {% elseif u[1] == "-1" %}
                                    <div style="color: #ffb700">
                                        {{ u[0] }}
                                    </div>
                                {% elseif u[1] == "1" %}
                                    <div style="color: #43A047">
                                        {{ u[0] }}
                                    </div>
                                {% endif %}
                            </div>
                        {% elseif (exist == "no") %}
                            <div>
                                {% if u[1] == "0" %}
                                    <div style="color: #000000">
                                        {{ u[0] }}
                                    </div>
                                {% elseif u[1] == "-1" %}
                                    <div style="color: #ffb700">
                                        {{ u[0] }}
                                    </div>
                                {% elseif u[1] == "1" %}
                                    <div style="color: #43A047">
                                        {{ u[0] }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
                {% if (exist == "no") and (y2 == indice) %}
                    <td>word doesn't exist</td>
                {% endif %}
            </tr>
            {% set indice = indice + 1 %}
        {% endfor %}
    </table>

    <br>

    {% for keyboard in keyboard %}
        {% for keyboard in keyboard %}
            {% if keyboard[1] == "0" %}
                <a class="mx-3" style="color: #000000" href="{{ path('keyboard_click', {nombreEssais: nombreEssais,tailleMot: tailleMot,buttonLettre: keyboard[0], x: x2, y: y2}) }}">{{ keyboard[0] }}</a>
            {% elseif keyboard[1] == "-1" %}
                <a class="mx-3" style="color: #ffb700" href="{{ path('keyboard_click', {nombreEssais: nombreEssais,tailleMot: tailleMot,buttonLettre: keyboard[0], x: x2, y: y2}) }}">{{ keyboard[0] }}</a>
            {% elseif keyboard[1] == "1" %}
                <a class="mx-3" style="color: #43A047" href="{{ path('keyboard_click', {nombreEssais: nombreEssais,tailleMot: tailleMot,buttonLettre: keyboard[0], x: x2, y: y2}) }}">{{ keyboard[0] }}</a>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}

    <a class="mx-3" href="{{ path('delete_click', {nombreEssais: nombreEssais ,tailleMot: tailleMot, x: x2, y: y2}) }}">DELETE</a>
    <a class="mx-3" href="{{ path('delete_all_click', {nombreEssais: nombreEssais ,tailleMot: tailleMot, x: x2, y: y2}) }}">DELETE LINE</a>

    {% if enter == "yes" %}
        <a class="mx-3" href="{{ path('enter_click', {nombreEssais: nombreEssais ,tailleMot: tailleMot, x: x2, y: y2}) }}">ENTER</a>
    {% endif %}
</div>
{% endblock %}
